<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Buttons with Local Storage</title>
    <link rel="stylesheet" href="course.component.css">
    <!-- <style>
       
        .user-button {
            display: inline-block;
            padding: 10px 20px;
            font-size: 16px;
            background-color: #007BFF;
            color: #fff;
            border: none;
            cursor: pointer;
            margin-right: 10px;
        }
    </style> -->
</head>
<body>
    <button class="user-button" id="user1" (click)="load('user1')">User 1</button>
    <button class="user-button" id="user2" (click)="load('user2')">User 2</button>
    <button class="user-button" id="user3" (click)="load('user3')">User 3</button> 
    
     
    
<!-- <button class="user-button" id="user1" (click)="showAlert('User 1')">User 1</button>
<button class="user-button" id="user2" (click)="showAlert('User 2')">User 2</button>
<button class="user-button" id="user3" (click)="showAlert('User 3')">User 3</button> -->


   <li *ngFor=" let item of list" style="list-style: none;"name="alert">
    <button  (click)="openDialog('0ms', '0ms',item)">{{item}}</button>
   </li>
 

   
</body>
</html>
