<!-- <div class="menu">
    <ul>
      <li><a href="#">Dashboard</a></li>
      <li>
        <a href="#">Mark Entry</a>
        <ul class="submenu">
          <li><a href="#">IAT1</a></li>
          <li><a href="#">IAT 2</a></li>
          Add more submenu items as needed -->
        <!-- </ul> -->
   
      <!-- Add more menu items as needed -->
    <!-- </ul> -->
  <!-- </div> -->
  <!-- <div class="content"> -->
    <!-- Your Mark Entry component content goes here -->
    <!-- <app-markentry></app-markentry>
  </div>
   -->

   <!-- <div class="formbold-main-wrapper">
    <div class="formbold-form-wrapper">
         <img src="your-image-url-here.jpg"> -->
        <!-- <form  #myForm="ngForm">
            <div class="formbold-form-title">
                <h2 class="">MARK ENTRY</h2>

            </div>  -->
            <!-- <div class="formbold-input-flex">
              <div>
                  <label for="Year" class="formbold-form-label">
                      Year*
                  </label>
                  <select name="Regulation" id="Year" class="formbold-form-input"
                       required>
                      <option value="" disabled selected hidden>Select year</option>
                      <option [value]="1">1</option>
                      <option [value]="2">2</option>
                      <option [value]="3">3</option>
                      <option [value]="4">4</option>
                  </select> -->
                  <!-- <div *ngIf="yearField.invalid && yearField.touched"s class="error-message">
                          Year is required.
                        </div> -->
              <!-- </div>
            </div> -->

        <!-- </form>
    </div>
   </div>
    -->

    <div class="formbold-main-wrapper">
      <div class="formbold-form-wrapper">
          <!-- <img src="your-image-url-here.jpg"> -->
          <form #myForm="ngForm">
              <div class="formbold-form-title">
                  <h2 class="">MARK ENTRY</h2>
              </div>
          </form>
      </div>
      
      <div class="sidebar">
          <h3>Choose an option:</h3>
          <select id="dropdown1">
              <option value="iat1">iat1</option>
              <option value="iat2">iat2</option>
              <option value="iat3">iat3</option>
          </select>
      </div>
    </div>
